body {
    padding: 0 15em;
    margin: 0;
}

main {
    padding: 0;
}

header {
    background-color: black;
    color: white;
    height: 5em;
    display: flex;
    padding-left: 1em;
}

header > h1 {
    margin: 0;
    align-self: center;
}

.pageTitle {
    font-size: 2em;
    margin: 1em auto;
}

.userCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em 0;
    gap: 2em;
    width: 13em;
    border: 1px solid black;
}

.userCard > p {
    margin: 0;
    font-size: 2em;
}

.userCard > img {
    border-radius: 50%;
    height: 10em;
    border: 2px solid black;
}

.card {
    border: 1px solid black;
    padding: 0 2em;
}

.card > .row {
    justify-content: space-between;
}

.likes > button {
    height: 2em;
    width: 5em;
    box-shadow: 2px 2px 2px black;
    margin-left: 2em;
}

.cardTitle {
    font-size: 2em;
}

.likes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    gap: 2em;
}

.col2 {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

p, a {
    font-size: 1.25em;
}